.right-guest {
	color: lime;
}
.almost-guest {
	color: #ffd700;
}
.wrong-guest {
	color: #fe6f5e;
}

.skill-prompt .terminal-input {
	margin-top: 40px;
}

.guess-history {
	display: flex;
	flex-wrap: wrap;

	> p {
		margin-right: 4rem;
	}
}
